<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-view title="Home" id="page1" style="background-color:#238A55;">
  <ion-content padding="true" class="has-header">
    <!--  <ion-content ng-controller="GridCtrl" ng-init="load_all()">
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels"></canvas>
  </ion-content>-->

    <ion-content ng-controller="GridCtrl" ng-init="">
      <div class="row responsive-md">
        <div class="col col-25" ng-repeat="image in images">
          <a ui-sref="menu.details({id:{{image.id}}})">
          <img ng-src="{{image.src}}" width="100%" />
          </a>
        </div>
      </div>
    </ion-content>
</ion-view>
