<ion-view title="Pflanzen Suche" id="page4" style="background-color:#238A55;">
  <ion-content padding="true" class="has-header">
    <form id="pflanzenSuche-form1" class="list">
      <label class="item item-input" id="pflanzenSuche-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <ion-list id="pflanzenSuche-list2">
      <ion-item id="pflanzenSuche-list-item9">Item 1</ion-item>
      <ion-item id="pflanzenSuche-list-item10">Item 2</ion-item>
      <ion-item id="pflanzenSuche-list-item11">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>