<ion-view title="Pflanzen Suche" id="page4" style="background-color:#238A55;">
  <ion-content padding="true" class="has-header">
    <form id="pflanzenSuche-form1" class="list">
      <label class="item item-input" id="pflanzenSuche-input1">
        <span class="input-label"></span>
        <input type="text" ng-model="query.name"  id="queryName" placeholder="Suche...">
      </label>
    </form>
    <ion-list  ng-repeat="pflanze in pflanzen|filter: query|orderBy:sort.predicate:sort.reverse" id="pflanzenSuche-list">
      <ion-item ui-sref="menu.pflanzendetails({id:{{pflanze.id}}})">{{pflanze.name}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
