<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-view title="Pflanzen Details" id="pflanzendetail" class="olaf_miko@hotmail.de">
  <ion-nav-buttons side="left">
    <button class="button button-clear"  ng-controller="pflanzenCtrl" ng-click="myGoBack()" >
      <i class="icon ion-ios-arrow-back"></i>
      Zurück</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pflanzendetail-card22">
      <ion-item class="item-avatar  olaf_miko@hotmail.de" id="page2-list-item16">
        <h2>{{pflanze.name}}</h2>
      </ion-item>
      <div style="margin: 0px; line-height: normal; background-color: rgb(232, 235, 239); text-align: center;">
        <img ng-src="{{pflanze.picture}}" class="image-list-thumb"/>
       <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>-->
      </div>
      <div class="item item-body olaf_miko@hotmail.de" id="page2-list-item-container3">
        <div id="page2-markdown5" style="text-align:center;" class="show-list-numbers-and-dots olaf_miko@hotmail.de">
          <p style="color:#000000;font-size:17px;">
            <strong>{{pflanze.name}}</strong>
          </p>
          <p style="color:#000000;font-size:17px;">{{pflanze.beschreibung}}</p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced  olaf_miko@hotmail.de" id="page2-list-item17">
        <i class="icon ion-wrench" ng-click=""></i>Einstellungen zuweisen</ion-item>
    </div>
  </ion-content>
</ion-view>
